<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments\head::head">
    <meta charset="UTF-8" />
    <title>Odessa claims application</title>
</head>
<body>
<div th:replace="fragments\header::header"></div>

<!-- Content -->
<div class="container">
    <div layout:fragment="content">default content</div>
</div>
<!-- /.container -->

<div th:replace="fragments/footer::footer" ></div>
</body>
</html>